ol {
    margin-left: 15px;
}

ol li {
    list-style: inherit;
    margin-bottom: 22px;
}


.home-card {
    width: 72%;
    margin: 20px auto 0;
}

.home-pictures {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.description {
    margin-top: 33px;
    width: 70%;
    margin-bottom: 10px ;
    border-right: 2px solid #c9c9c9;
    display: inline-block;
}

.ds-td {
    width: 45%;
    border-right: 2px solid #c9c9c9;
}

.statistic {
    padding: -15px;
}

.tarrifs {
    padding-left: 30px;
}

.tarrifs h2,
.capital-remonts h2 {
    font-weight: 100;
    margin-bottom: 5px;
}

.remonts{
    padding-top: 30px;
}

.remonts>p {
    margin-top: 10px;
}

.img-cell {
    width: 32px;
}

.text-cell {
    padding-left: 12px;
}

.capital-remonts{
    vertical-align: top;
    padding: 30px;
}

.capital-remonts p{
    margin-top:  26px;
}

.capital-remonts table {
    width: 70%;
}


.download-document td:last-child {
    padding-left: 15px;
}

.download-document img {
    vertical-align: middle;
}

.download-document a {
    text-decoration: underline;
}

.documents {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin-top: 33px;
    margin-left: 15px;
}