/***********CONTENT*****************/


.content-background {
    /*background-image: url("../img/slider-house2.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: right -90px;*/
    /*background-size: 73% 726px;*/
}


.slider {
    background-image: url("../img/slide1.png");
    position: absolute;
    display: inline;
    width: 90%;
    height: 70%;
    background-position: right -50px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 10%;
    overflow: auto;
    box-sizing: content-box;
}


.extra-phones {
    position: relative;
    margin-left: 5%;
    margin-top: 48px;
    font-size: 20px;
    z-index: 5;
}

.extra-phones span {
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}

.extra-phones table td:last-child {
    padding-left: 10px;
}

.extra-phones-img{
    background: url("../img/telefon-arrow.png") no-repeat;
    background-position: left 50%;
    height: 12px;
    width: 12px;
}


.extra-phones-img td:first-child {
    padding-left: 23px;
}

.news{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    margin: 70px auto 34px;
    width: 81.5%;
}

.news-item {
    min-height: 300px;
    overflow: auto;
    background: #ffffff;
    width: 31%;
    box-shadow: 0 0 10px  #9a9d9d;
}

.news-item p{
    padding: 0 16px;
}

.news-caption {
    padding: 16px;
}

.news-caption h2 {
    display: inline;
}

.news-caption span {
    line-height: 22px;
    vertical-align: middle;
    font-size: 20px;
    float: right;
}

.news-item-footer {
    height: 60px;
    width: inherit;
    position: absolute;
    bottom: 0;
    background: #ff9a04;
}

.news-item-footer a {
    letter-spacing: 1px;
    height: 26px;
    width: 27%;
    float: right;
    margin-top: 20px;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;

    background-image: url("../img/news-more.png");
    background-repeat: no-repeat;
    background-position-x: 90%;
}

.news-item-footer a span {
    position: absolute;
    top: 22px;
    text-decoration: underline;
}








@media screen and (max-width: 1400px) {
    .field label {
        font-size: 15px;
    }

    .login-form a {
        margin-left: 44%;
    }

    /*.news-item p {*/
        /*font-size: 12px;*/
    /*}*/

    .news-caption h2 {
        font-size: 18px;
    }

    .news-caption span {
        font-size: 16px;
    }


    .news-item-footer a {
        width: 40%;
    }

}



@media screen and (min-width:1401px) and (max-width: 1680px) {
    .field label {
        font-size: 16px;
    }

    .login-form a {
        margin-left: 48%;
    }

    .news-item p {
        font-size: 14px;
    }

    .news-caption h2 {
        font-size: 18px;
    }

    .news-caption span {
        font-size: 16px;
    }


    .news-item-footer a {
        width: 35%;
    }

}