* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header a {
    color: #606060;
}

a:visited{
    color: #606060;
}

li {
    list-style: none;
}

body{
    background-color: #ffffff;
    font-family: 'MyriadPro-Cond';
    color: #606060;
}



.main-wrapper {
    margin: 0 auto;
    /*min-height: 1080px;*/
    max-width: 1980px;
    min-width: 1200px;
    width: 100%;
    height: 100%;
}




/****** HEADER ******/

header {
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    height: 203px;
    width: inherit;
}


header nav {
    box-sizing: border-box;
    margin-left: 8.5%;
}

.header-content {
    position: relative;
    height: inherit;
    background: url("../img/header4.png") no-repeat;
    background-size: 100% 100%;
}

.header-navbar {
    padding-top: 42px;
}

.header-navbar li{
    box-sizing: border-box;
    display: inline-block;
    padding: 0 1.8%;
    border-right: 2px solid #818282;
}

.header-navbar li:nth-child(3){
    border: none;
}


.header-navbar li:last-child{
    margin-left: 28%;
}

.logo-wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
}

.header-logo {
    margin-top:-55px;
}

.header-right-column{
    font-size: 12px;
    /*position: relative;*/
    margin-left: 62.6%;
    margin-top: -72px;
}

.header-login {
    box-sizing: content-box;
    margin-left: 290px;
    margin-top: 44px;
}

.header-login span {
    display: block;
}

.header-login span:nth-child(2){
    text-decoration: underline;
}

.header-login > a {
    margin-left: 148px;
}

.header-login > a img {
    margin-top: -48px;
}

.page-navigation{
    width: 77%;
    position: absolute;
    padding: 0 10%;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.page-navigation span {
    font-size: 32px;
}

.page-navigation  a{
    padding-left: 60px;
    font-size: 22px;
    text-decoration: underline;
    line-height: 42px;
    vertical-align: middle;
    background-image: url("../img/header-back-button.png");
    background-repeat: no-repeat;
}






.content {
    background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 30%, #ffffff 70%, #eaebeb 100%);
    min-height: 700px;
    height: 100%;
    overflow: hidden;
}

    /************ FOOTER ********/


footer {
    width: inherit;
    height: 66px;
    background: #818282  url("../img/footer_bckround.png") no-repeat;
    background-size: 100% 66px;
    box-shadow: 0 0 20px 2px #818282;
    overflow: hidden;
}

.footer-logo {
    display: inline-block;
    margin-left: 9%;
}
.footer-logo img {
    margin-top: 16px;
}

.footer-about-company {
    margin-left: 14px;
    font-family: Calibri;
    font-size: 10px;
    display: inline-block;
}



.footer-contacts {
    display: inline;
    margin-left: 36.6%;
    overflow: hidden;
}

.footer-contacts ul{
    display: inline;
}

.social-networks li{
    width: 100%;
    height: 100%;
    display: inline;
}

.footer-contacts>img {
    position: absolute;
    margin-top: 6px;
    margin-left: 24px;
}

.phones {
    font-size: 18px;
    position: absolute;
    margin-top: 8px;
    margin-left: 99px;
}

.phones {
    display: block;
}

footer button {
    position: absolute;
    border-radius: 42px;
    margin-left: 13%;
    margin-top: 12px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    outline: none;
    border: none;
}

footer button:hover {
    opacity: 0.9;
}

.login-form-wrapper {
    box-sizing: content-box;
    position: relative;
    border-radius: 35px;
    margin-left: 5%;
    min-width: 450px;
    width: 31.1%;
    height: 290px;
    background-image: url("../img/login-background.png");
    background-repeat: no-repeat;
    background-size: 100% 290px;
    display: inline-block;
}

.login-form {
    width: 70%;
    margin-left: 10%;
    float: left;
}

.field {
    line-height: 40px;
    clear:both;
    text-align:right;
    margin-top: 18px;
}

.field label {
    float: left;
    margin-right: 10px;
    font-size: 21px;
}

.login-form a {
    text-decoration: underline;
    float: none;
    margin-left: 52%;
}

.login-inputs {
    font-size: 16px;
    min-width: 231px;
    width: 65%;
    border: none;
    height: 38px;
    border-radius: 8px;
    box-shadow: 0 3px 10px  #9a9d9d;
}

.login-form-footer {

    height: 60px;
    width: 100%;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: absolute;
    bottom: 0;
    background: #ff9a04;
}


.login-form-footer ul {
    text-align: center;
    margin: 15px auto;
}

.login-form-footer li {
    width: 45%;
    display: inline;
    padding-right: 6px;
    padding-left: 6px;
}
.login-form-footer li:first-child {
    border-right: 1px solid white;
}

.login-form-footer a,
.login-form-footer button {
    font-family: 'MyriadPro-Cond';
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.login-form-footer a {
    text-decoration: underline;
}


.login-form-footer button {
    width: 40%;
    text-align: left;
    height: 26px;
    background: none;
    border: none;
    background-image: url("../img/login-footer-button.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
}



.login-admin {
    z-index: 3;
    position: absolute;
    right: 10%;
    bottom: 65px;
}

.login-admin h5 {
    text-align: center;
    margin-top: 20px;
}

.lff-admin  ul{
    position: relative;
}

.lff-admin  ul li {
    width: 30%;
    display: table-cell;
    text-align: center;
}

.lff-admin button {
    padding-left: 40%;
    width: 100%;
    margin: 0;
    line-height: normal;
    position: relative;
    background-image: url("../img/admin-footer-button.png");
    background-position-x: 90%;
}






.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}





@media screen and (max-width: 1400px) {
    header {
        font-size: 14px;
    }

    .header-navbar li:last-child{
        margin-left: 30%;
    }

    .header-right-column {
        margin-left: 55.6%;
    }

    .page-navigation span {
        font-size: 24px;
    }

    .footer-contacts {
        margin-left: 22.6%;
    }
    footer button {
        margin-left: 19%;
    }
    .login-form-footer button,
    .login-form-footer a{
        font-size: 14px;
    }


}

@media screen and (min-width:1401px) and (max-width: 1680px) {
    header {
        font-size: 18px;
    }

    .page-navigation span {
        font-size: 28px;
    }

    .footer-contacts {
        margin-left: 33.6%;
    }

    footer button {
        margin-left: 16%;
    }
    .login-form-footer button,
    .login-form-footer a{
        font-size: 16px;
    }

}