.content-wrapper {
    margin: 0 auto;
    width: 80%;
    position: relative;
}

.filters {
    font-family: 'MyriadPro-Cond';
    color: #606060;
    font-size: 18px;
    border-bottom: 2px solid #c7c7c7;
    padding: 15px 0 33px;
    box-sizing: border-box;
    position:relative;
    overflow:hidden;
}


.filters select {
    background-image: url("../img/Personal_accounts/select-arrow.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
    font-family: 'MyriadPro-Cond';
    color: #606060;
    font-size: 18px;
    /*direction: rtl;*/
    min-width: 250px;
    width: 250px;
    outline: none;
    text-align:right;
    padding: 4px 4px 4px 15px;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    box-shadow: 0 5px 10px #bcbcbc;
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}

.filters label {
    margin-right: 22px;
}

.first_filter {
    text-align: right;
}


.filters img {
    vertical-align: middle;
    margin: 0 50px;
}



.table-wrapper {
    display: inline-table;
    width: 100%;
    margin-top: 33px;
}

.personal_accounts {
    width: 100%;
}

.personal_accounts thead {
    text-align: center;
}

.thead-bot-margin {
    height: 21px;
}

.personal_accounts tbody tr {
    height: 33px;
}

.personal_accounts tbody tr:nth-child(2n+1) {
    background: #e5e5e5;
}


/*.personal_accounts tbody tr:first-child td {*/
    /*padding-left: 4px;*/
    /*box-sizing: border-box;*/
    /*box-shadow: 0 0 6px #c9c9c9;*/
    /*border-radius: 10px;*/
    /*border: 1px solid #c9c9c9;*/
    /*background: #ffffff;*/
/*}*/



.personal_accounts tr:hover  td:nth-child(-7+n){
    padding-left: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 6px #c9c9c9;
    border-radius: 10px;
    border: 1px solid #c9c9c9;
    background: #ffffff;
}

/*.personal_accounts tbody tr:first-child td:last-child {*/
    /*background: none;*/
    /*border: none;*/
    /*box-shadow: none;*/
    /*border-radius: 0;*/
    /*padding-left: 10px;*/
    /*width: 160px;*/
/*}*/

.editing-tools {
    visibility: hidden;
    /*background: #ffffff;*/
    border: none;
    padding-left: 10px;
    width: 160px;
}

.editing-tools tr:hover td {
    background: none;
}


.personal_accounts tr:hover .editing-tools{
    visibility: visible;
    border: none;
    box-shadow: none;

}

.editing-tools button{
    font-family: 'MyriadPro-Cond';
    font-size: 16px;
    color: #606060;
    text-decoration: underline;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 5px;
}
.editing-tools button img,
.table-export button img,
.navigation img
{
    vertical-align: middle;
}




.table-export {
    position: absolute;
    right: 1px;
    bottom: 15px;
}

.table-export button{
    font-family: 'MyriadPro-Cond';
    text-transform: uppercase;
    font-size: 22px;
    color: #606060;
    text-decoration: underline;
    border: none;
    background: none;
    cursor: pointer;
}

.table-export button img {
    margin-right: 10px;
}

.table-export button:last-child {
    margin-left: 40px;
}

.table-navigation {
    width: 25%;
    margin: 25px auto;
}

.navigation {
    border: none;
    background: none;
    cursor: pointer;
}

.navigation.back {
    margin-right: 15px;
}

.navigation.forward {
    margin-left: 15px;
}

.table-navigation input {
    text-align: right;
    width: 50px;
    height: 30px;
}
