.content-wrapper {
    margin: 0 auto;
    width: 80%;
    position: relative;
}

.filters {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 33px;
    box-sizing: border-box;
}

.filters label {
    margin-right: 22px;
}

.first_filter {
    text-align: right;
}

.table-wrapper {
    display: inline-table;
    width: 80%;
    margin-top: 33px;
}

.personal_accounts {
    width: 100%;
}

.personal_accounts thead {
    text-align: center;
}

.thead-bot-margin {
    height: 21px;
}

.personal_accounts tbody tr {
    height: 33px;
}


.personal_accounts tbody tr:nth-child(2n+1) {
    background: #e5e5e5;
}


.personal_accounts tbody tr:first-child td {
    padding-left: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 6px #c9c9c9;
    border-radius: 10px;
    border: 1px solid #c9c9c9;
    background: #ffffff;
}


.editing-tools {
    display: inline;
    position: absolute;
    margin-top: 75px;
    margin-left: 10px;

}

.editing-tools button{
    font-family: 'MyriadPro-Cond';
    font-size: 16px;
    color: #606060;
    text-decoration: underline;
    border: none;
    background: none;
    cursor: pointer;
}
.editing-tools button img,
.table-export button img,
.navigation img
{
    vertical-align: middle;
}


.table-export {
    position: absolute;
    right: 1px;
    bottom: 15px;
}

.table-export button{
    font-family: 'MyriadPro-Cond';
    text-transform: uppercase;
    font-size: 22px;
    color: #606060;
    text-decoration: underline;
    border: none;
    background: none;
    cursor: pointer;
}

.table-export button img {
    margin-right: 10px;
}

.table-export button:last-child {
    margin-left: 40px;
}

.table-navigation {
    width: 25%;
    margin: 17px auto;
}

.navigation {
    border: none;
    background: none;
    cursor: pointer;
}

.navigation.back {
    margin-right: 15px;
}

.navigation.forward {
    margin-left: 15px;
}

.table-navigation input {
    text-align: right;
    width: 50px;
    height: 30px;
}
